
.ingredientsWrapper {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 42px;

}
.ingredients {
  text-align: center;
}

.inner {
  display: inline-block;
}

.ingredient {
  text-align: left;
  display: flex;
  align-items: baseline;
  margin-left: -20px;
}

.quantity {
  font-family: Akkurat;
  text-align: right;
  width: 120px;
  min-width: 120px;
  margin-right: 7px;
  margin-top: 3.5px;
  line-height: 28px;
}

.quantityText {
  margin-right: 14px;
  font-size: 18px;
  font-weight: bold;
}

.ingredientTitle {
  line-height: 35px;
  font-style: italic;
}

.ingredientTitleText {
  font-size: 18px;
  font-style: italic;
}

.itemButton {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.ingredientYield {
  padding-top: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  & > div {
    max-width: 33%;
  }
}

.equipmentTitle {
  font-weight: bold !important;
}

.equipmentText {
  font-style: italic !important;
}

@media (max-width: 768px) {
  .ingredientsWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .quantity {
    width: 100px;
    min-width: 100px;
  }

  .ingredientYield {
    flex-direction: column;
    align-content: center;
  }

  .ingredientYield  > div {
    max-width: unset;
    width: 100%
  }
}
