$TITLE_FONT_SIZES: 60px, 48px, 34px, 24px, 20px, 18px;
$TITLE_FONT_SIZES_MOBILE: 40px, 40px, 34px, 24px, 18px, 15px;
$TITLE_FONT_WEIGHT: 600, 600, 500, 400, 400, 600;
$TITLE_LETTER_SPACING: normal, -0.5px, -0.5px, -0.5px, 1.5px, 1px;
$TITLE_LETTER_SPACING_MOBILE: normal, normal, normal, 0.5px, 1.5px, 1px;
$TITLE_LINE_HEIGHTS: 1.03, normal, normal, 1.75, 1, 1.6;
$TITLE_LINE_HEIGHTS_MOBILE: 1, 1.18, 1.18, 1.75, 1, 1.6;

.title {
  margin: 0;
  padding: 0 0 30px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.center {
  text-align: center;
}


.h1 {
  font-size: 60px !important;
  line-height: 1.03 !important;
  font-weight: 600 !important;
  letter-spacing: normal !important;
}

.h2 {
  font-size: 48px !important;
  line-height: normal !important;
  font-weight: 600 !important;
  letter-spacing: -0.5px !important;
}

.h3 {
  font-size: 34px !important;
  line-height: normal !important;
  font-weight: 500 !important;
  letter-spacing: -0.5px !important;
}

.h4 {
  font-size: 24px !important;
  line-height: 1.75 !important;
  font-weight: 400 !important;
  letter-spacing: -0.5px !important;
}

.h5 {
  font-size: 20px !important;
  line-height: 1 !important;
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
}

.h6 {
  font-size: 18px !important;
  line-height: 1.6 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}


@media screen and (max-width: 576px) {
  .h1 {
    font-size: 40px !important;
    line-height: 1 !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
  }

  .h2 {
    font-size: 40px !important;
    line-height: 1.18 !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
  }

  .h3 {
    font-size: 34px !important;
    line-height: 1.18 !important;
    font-weight: 500 !important;
    letter-spacing: normal !important;
  }

  .h4 {
    font-size: 24px !important;
    line-height: 1.75 !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
  }

  .h5 {
    font-size: 18px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
  }

  .h6 {
    font-size: 15px !important;
    line-height: 1.6 !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
  }
}
