.recipesContainer {
  background-color: white;
  width: 100%;
}

.recipes {
  background-color: #edecea;
  padding-top: 42px;
  min-height: 1200px;
  padding-left: calc((100% - 1400px) / 2);
  padding-right: calc((100% - 1400px) / 2);
}

.matrix {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  //gap:
}

.card {
  position: relative;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.96);
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.showFilter {
  opacity: 1;
  pointer-events: auto;
}

.closeFilter {
  position: fixed;
  top: 28px;
  right: 28px;
  z-index: 100;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1195px) {
  .matrix {
    padding: 0 42px;
  }

  .matrix .card {
    flex: 0 1 calc((100% - 94px) / 4);
    flex-basis: calc((100% - 94px) / 4);
  }

  .matrix .card:nth-of-type(4n + 4) {
    margin-right: 0;
  }

  .matrix .card:nth-of-type(4n + 1) {
    margin-left: 0;
  }
}
